WeTongji.xcodeproj/xcuserdata
WeTongji.xcodeproj/project.xcworkspace/
.DS_Store
WeTongji.xcworkspace/xcuserdata/*

WeTongji.xcworkspace/contents.xcworkspacedata

WeTongji.xcworkspace/contents.xcworkspacedata

WeTongji.xcworkspace/contents.xcworkspacedata

WeTongji.xcworkspace/xcuserdata/bluebitch.xcuserdatad/WorkspaceSettings.xcsettings

WeTongji/WTBannerContainerView.xib

*.xcworkspacedata

*.xcworkspacedata
